plugins {
    id 'nf-amazon'
}

process {
    executor = 'awsbatch'
    queue = 'TowerForge-batch-env-ondemand-2000cpu'
    container = 'ghcr.io/stevenfroelichbmrn/nextflow-pvalues:latest'
}

aws {
    region = 'us-west-2'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

tower {
    workspaceId = '234253664513050'
}

params {
    input_dir = "s3://r6333-pep-nppc-oi-bmn333-dev/gwas_testing_nwk/Gene_Editing/arc-virtual-cell-atlas/STATE"
    output_dir = "s3://r6333-pep-nppc-oi-bmn333-dev/gwas_testing_nwk/Gene_Editing/arc-virtual-cell-atlas/STATE/pvalues"
}

profiles {
    standard {
        process {
            withName: 'extract_pvalues' {
                memory = '64 GB'
                cpus = 4
            }
        }
    }

    highmem {
        process {
            withName: 'extract_pvalues' {
                memory = '128 GB'
                cpus = 8
            }
        }
    }
}

manifest {
    name = 'tahoe-pvalue-extraction'
    description = 'Parallel Wilcoxon rank-sum p-value and BH FDR extraction for Tahoe Perturb-seq h5ad files'
    version = '1.0.0'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.0'
}
